    <footer>

        <div class='personal'>
            <a href='/about'>About Us | </a>
            <a href='/contact'>Contact Us</a>
        </div>

        <div class='icons'>
            <a href='#instagram'>Instagram | </a>
            <a href='#Facebook'>Facebook | </a>
            <a href='#Twitter'>Twitter</a>
        </div>

        <p>Created by 370z| Cars and Coffee © 2021</p>

    </footer>

</body>

</html>