<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>370z| Cars and Coffee</title>
        
        <link rel="stylesheet" href="/css/style.css">
    </head>


<body>
    <header>
            <nav>
                <a href='/'><img src='/images/logo.png' alt='logo'></a>
                <div class='navBar'>
                    <ul class='nav'>
                        <li><a href='/'>| Home</a></li>
                        <li><a href='/connections/new'>| Create Meetup</a></li>
                        <li><a href='#Login'>| Login </a></li>
                        <li><a href='#SignUp'>| Sign Up</a></li>
                    </ul>
    
    
                </div>
                
                
            </nav> 
            <hr>
            <a class='meetups' href='/connections'>Meetups</a>       
    </header>