<%- include('./partials/header.ejs') %>
        <section class='info'>

        <div class='about'>
            <h1>About  370z| Cars and Coffee</h1>
            <p>Created to make friends and talk about about cars and show off cars at Car Meets.</p>
            <p>There is also list of coffee places so that people can make friends while they drink coffee and talk about cars.</p>
            <p>Cars and Coffee is about making friends and talking about cars and just enjoying life.</p>


        </div>

        




    </section>
<%- include('./partials/footer.ejs') %>
