<%- include('./partials/header.ejs') %>
        <section class='info'>

        <div class='welcome'>
            <h1>Welcome to 370z| Cars and Coffee</h1>
            <p>This is a place for all car enthusiasts to post about cool car meets location specific to the Nissan 370z and Vq Community.</p>
            <p>Feel free to also post about car meets regarding Infinity VQs as well, because as we all know Nissan 370z's and Infinity Vqs share the same motor. </p>
            <p>Lastly, please share all the best locations you know to grab some coffee and hang out with friends.</p>

            <img src="images/meet.jpg" alt="meet">

        </div>

        




    </section>
<%- include('./partials/footer.ejs') %>
